<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .mydiv{
    width:100%;
    margin: auto 0;
    }
   </style>
<body>


<h1 class="page-header">Blog Feed</h1>

<div class="row show-hide-message" *ngIf="message && newPost">
  <div [ngClass]="messageClass" class="mydiv">
    {{ message }}
  </div>
</div>

<button style="margin:5px;" type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newBlogForm()">New Post</button>

<button style="margin:5px;" [disabled]="loadingBlogs" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadBlog()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>

<br />
<br />
<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
  <div class="form-group">
    <label for="title">Title</label>
    <div >
      <input type="text" name="title" class="form-control" placeholder="*Blog Title" autocomplete="off" formControlName="title" [ngClass]="{'is-valid': form.controls.title.valid, 'is-invalid': form.controls.title.dirty && form.controls.title.errors}"/>
      <ul class="help-block">
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Max length: 50, Min length: 5</li>
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Must be a letter or number</li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="body">Body</label>
    <div >
      <textarea name="body" rows="8" cols="80" placeholder="*Body" class="form-control" formControlName="body" [ngClass]="{'is-valid': form.controls.body.valid, 'is-invalid': form.controls.body.dirty && form.controls.body.errors}"></textarea>
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Max length: 10000 , Min length: 5</li>
      </ul>
    </div>
  </div>

  <button style="margin:5px;" [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
  <button style="margin:5px;" [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Submit</button>

</form>

<div *ngIf="!newPost">
  <div class="panel panel-primary" *ngFor="let blog of blogPosts">
    <div class="panel-heading">
      <h3 class="panel-title">{{ blog.title }}</h3>
    </div>

    <div class="panel-body">
      {{ blog.body }}
    </div>

    <div class="panel-footer">
      <strong>Posted by: </strong>{{ blog.createdBy }}
      <br />
      <strong>Date: </strong>{{ blog.createdAt | date:'MMM dd, yyyy' }}
      <br />
      <div *ngIf="username === blog.createdBy">
        <strong>Likes: </strong>{{ blog.likes }}
        <br />
        <strong>Dislikes: </strong>{{ blog.dislikes }}
      </div>

      <a [routerLink]="['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy"><button style="margin:5px;" type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
      <a [routerLink]="['/delete-blog/', blog._id]" *ngIf="username === blog.createdBy"><button style="margin:5px;" type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>

      <div class="dropdown">
        <button style="margin:5px;" [disabled]="blog.likedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-success" *ngIf="username !== blog.createdBy" (click)="likeBlog(blog._id)"><span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes: {{ blog.likes }}</button>
        <div class="dropdown-content">
          <a [routerLink]="['/user/', liker]" *ngFor="let liker of blog.likedBy">{{ liker }}</a>
        </div>
      </div>

      <div class="dropdown">
        <button style="margin:5px;" [disabled]="blog.dislikedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-sm btn-warning" *ngIf="username !== blog.createdBy" (click)="dislikeBlog(blog._id)"><span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislikes: {{ blog.dislikes }}</button>
        <div class="dropdown-content">
          <a [routerLink]="['/user/', disliker]" *ngFor="let disliker of blog.dislikedBy">{{ disliker }}</a>
        </div>
      </div>

    </div>

    <ul class="list-group">
      <li class="list-group-item">
          
        <button style="margin:5px;" type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment(blog._id)" [disabled]="newComment.indexOf(blog._id) > -1">Post Comment</button>
        <br />
        <br />
        <div *ngIf="newComment.indexOf(blog._id) > -1">

            
          <form [formGroup]="commentForm">
              
            <textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment" [ngClass]="{'is-valid': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'is-invalid': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}"></textarea>
            <div >
              <ul class="help-block">
                <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This field is required.</li>
                <li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">Comment must be at least 1 character but no more than 200.</li>
              </ul>
            </div>
            <button style="margin:5px;" [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-info" (click)="postComment(blog._id)">Post</button>
            <button style="margin:5px;" [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="cancelSubmission(blog._id)">Cancel</button>
          </form>

        </div>

        <li *ngIf="enabledComments.indexOf(blog._id) === -1 && blog.comments.length > 0" class="list-group-item">
          <span (click)="expand(blog._id)">
            Show comments&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </span>
        </li>

        <li *ngIf="enabledComments.indexOf(blog._id) > -1" class="list-group-item">
          <span (click)="collapse(blog._id)">
            Hide Comments&nbsp;&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </span>
        </li>

        <div *ngIf="enabledComments.indexOf(blog._id) > -1">
          <li *ngFor="let comment of blog.comments" class="list-group-item">
            <strong>{{ comment.commentator }}:</strong> {{ comment.comment }}
          </li>
        </div>
    </ul>

  </div>
</div>

</body></html>



